@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}
header{
    color: white;
    width: 100%;
    text-align: center;
    
}
header h1{
    margin: 20px 0;
}
header p{
    margin: 20px 0;
}
body{
    
    background-color: black;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
input{
    width: 500px;
    height: 35px;
    text-align: center;
    margin: 20px 0;
    border: black solid 1px;
    border-radius: 20px;
}
button{
    width: 400px;
    height: 35px;
    border: black solid 1px;
    border-radius: 25px;
}
.container_resultado{
    height: 500px;
}
img{
    margin: 45px 0;
    width: 200px;
}
#txt{
    color: white;
    font-size: 30px;
    text-transform: uppercase;
    margin: 45px 0;
}
.links{
    width: 100%;
    display: flex;
    justify-content: center;
}
.links a{
    margin: 15px;
    padding: 10px;
    color: white;
    text-decoration: none;
}

footer{
    height: 50px;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    border-radius: 25px;
}
footer a{
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 5px;
    border-radius: 10px;
}